<article class="gh-card {{post_class}}{{#unless @custom.show_images_in_feed}} no-image{{/unless}}">
    <a class="gh-card-link" href="{{url}}">
        {{#if twitter_image}}
            <figure class="gh-card-image">
                <img
                    srcset="{{img_url twitter_image size="xs" format="webp"}} 160w,
                            {{img_url twitter_image size="s" format="webp"}} 320w,
                            {{img_url twitter_image size="m" format="webp"}} 600w,
                            {{img_url twitter_image size="l" format="webp"}} 960w,
                            {{img_url twitter_image size="xl" format="webp"}} 1200w,
                            {{img_url twitter_image size="xxl" format="webp"}} 2000w"
                    sizes="{{#if imageSizes}}{{imageSizes}}{{else}}320px{{/if}}"
                    src="{{img_url twitter_image size="m"}}"
                    alt="feature image"
                    {{#if lazyLoad}}loading="lazy"{{/if}}
                >
            </figure>
        {{else if feature_image}}
            <figure class="gh-card-image">
                <img
                    srcset="{{img_url feature_image size="xs" format="webp"}} 160w,
                            {{img_url feature_image size="s" format="webp"}} 320w,
                            {{img_url feature_image size="m" format="webp"}} 600w,
                            {{img_url feature_image size="l" format="webp"}} 960w,
                            {{img_url feature_image size="xl" format="webp"}} 1200w,
                            {{img_url feature_image size="xxl" format="webp"}} 2000w"
                    sizes="{{#if imageSizes}}{{imageSizes}}{{else}}320px{{/if}}"
                    src="{{img_url feature_image size="m"}}"
                    alt="feature image"
                    {{#if lazyLoad}}loading="lazy"{{/if}}
                >
            </figure>
        {{/if}}
        <div class="gh-card-wrapper">
            {{#if primary_tag}}
                <p class="gh-card-tag">{{primary_tag.name}}</p>
            {{/if}}
            <h3 class="gh-card-title is-title">{{title}}</h3>
            {{#if custom_excerpt}}
                <p class="gh-card-excerpt is-body">{{custom_excerpt}}</p>
            {{/if}}
            {{#unless custom_excerpt}}
                {{#if excerpt}}
                    <p class="gh-card-excerpt is-body">{{excerpt}}</p>
                {{/if}}
            {{/unless}}
            <footer class="gh-card-meta">
                {{#unless access}}
                    {{^has visibility="public"}}
                        {{> "icons/lock"}}
                    {{/has}}
                {{/unless}}<!--
             -->{{#if @custom.show_author}}
                    <span class="gh-card-author">By {{#foreach authors}}{{#if @first}}{{name}}{{else}}, {{name}}{{/if}}{{/foreach}}</span>
                {{/if}}
                {{#if @custom.show_publish_date}}
                    <time class="gh-card-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                {{/if}}
                <span style="margin-left:15px;display:flex;gap:2px;">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z" />
                    </svg>
                    {{comment_count singular="" plural=""}}
                </span>
                <!--
         --></footer>
        </div>
    </a>
</article>
