{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<div class="bg-stone-950 text-white relative">
    <div class="max-w-5xl my-[16vmin] mx-auto px-4 sm:px-6 text-center text-balance flex items-center flex-col relative z-30 bg-gradient-radial from-black to-transparent from-0% to-60%">
        <img src="{{asset '/images/ghost-orb-white-transparent.png'}}" alt="Ghost logo" class="w-[100px] sm:w-[130px] h-auto mb-10 sm:mb-16" />
        <h1 class="font-bold text-5xl md:text-8xl leading-none mb-7 tracking-tight">It’s time to bring back the open web.</h1>
        <p class="text-2xl md:text-4xl leading-snug sm:leading-snug mb-14">Ghost is federating over ActivityPub to become part of the world’s largest publishing network.</p>
        <div class="w-full max-w-xl">
            {{> "email-subscription"}}
        </div>
    </div>
    <video playsinline autoplay muted loop class="object-cover absolute z-0 top-0 bottom-0 left-0 right-0 w-full h-full">
        <source src="{{asset '/images/board.mp4'}}" type="video/mp4">
    </video>
    {{!-- <div class="absolute z-0 top-0 bottom-0 left-0 right-0 w-full h-full">
        <iframe
            src="https://customer-cubrih08bflu3z2b.cloudflarestream.com/b3abacb4a39def519cbc91dcd505d472/iframe?muted=true&loop=true&autoplay=true&poster=https%3A%2F%2Fcustomer-cubrih08bflu3z2b.cloudflarestream.com%2F4e6da618ec9a76162642a982287ba2af%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600&controls=false&primaryColor=%23000000"
            loading="lazy"
            style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
            allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
            allowfullscreen="true"
        ></iframe>
    </div> --}}
    <div class="w-full h-48 absolute bottom-0 bg-gradient-to-t from-stone-950 to-stone-950/0 z-20"></div>
</div>

<div class="bg-stone-950 text-white pt-24">
    <div class="font-serif text-xl px-4 sm:px-6">
        <div class="max-w-8xl grid grid-cols-12 my-0 mx-auto text-xl leading-normal border-b border-b-amber-50/30 pb-16 lg:pb-28">
            <div class="lg:columns-3 *:mb-8 gap-10 *:leading-snug *:text-pretty col-span-12 md:col-span-6 md:col-start-4 lg:col-start-1 lg:col-span-12">
                <p class="first-letter:float-left first-letter:leading-none first-letter:-mb-2 first-letter:pb-0 first-letter:text-6xl sm:first-letter:text-[84px] first-letter:pr-2 sm:first-letter:pr-3 first-letter:font-bold first-letter:font-sans-serif first-letter:text-rose-500">We had it pretty good for a while, back there. The early days of the web were chaotic, free, and open. Everyone published unique content their own domain. No two sites looked the same. We interacted with one another to share ideas.</p>
                <p>Then the social networks came. They removed the complexity of running a server. They added simple social interactions. Follow. Like. Reply. Everything got easier.</p>
                <p>But convenience came at a cost, and slowly  the way we consume information became less like home cooking and more like McDonalds.</p>
                <p>This fast food algorithm diet was deliberately designed by technology companies to profit from our addictions. And after two decades of indulgence, the cracks in our collective consciousness are all around us.</p>
                <p>The time has come to take back control, and there are good reasons to be optimistic.</p>
                <p>For the past few years the choice has been difficult. Either participate in a closed networks a the mercy of algorithms, or set up an independent website at the expense of your growth. Now, though, that entire dynamic is getting flipped upside down.</p>
                <p>Email gave us private messaging technology that isn’t owned by a single company. No algorithms, no lock-in, no bullshit.</p>
                <p>Now, ActivityPub is doing the same for social technology. It’s a protocol that allows people across different platforms and websites to follow, like and reply to one another. No algorithms, no lock-in... no bullshit.</p>
                <p>The open web is coming back, and with it returns diversity. You can both publish independently and grow faster than ever before with followers from all over the world, across all sorts of different platforms.</p>
            </div>
        </div>
    </div>
    <div class="text-xl px-4 sm:px-6">
        <div class="max-w-8xl my-36 mx-auto grid grid-cols-12 gap-[8vmin]">
            <div class="col-span-12 md:col-span-6 lg:col-span-4 *:mb-8 *:text-pretty font-serif">
                <p>Closed social networks compete with each other for users, so your reach is limited to people on the same platform.</p>
                <p>The open web collaborates for users, so you get access to every person across every platform. There are over 5.5 billion people using the internet in 2024, and email — the web’s original open protocol — is still larger than any platform that has been invented before or since.</p>
                <p>ActivityPub is headed in the same direction, because open protocols don’t depend on any one company succeeding. They just keep growing as more companies adopt them.</p>
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-8 font-sans-serif -mt-14">
                <h2 class="text-2xl md:text-3xl font-bold mb-6">Platforms by number of users</h2>
                <div class="*:mb-5">
                    <div class="flex justify-between items-center text-xl leading-none h-14 font-bold rounded-r-full w-full bg-amber-50 text-black px-5"><span>Email</span><span>4.4b</span></div>
                    <div class="flex justify-between items-center text-xl leading-none h-14 font-bold rounded-r-full w-[68%] bg-[#3B5998] text-white px-5"><span>Facebook</span><span>3b</span></div>
                    <div class="flex justify-between items-center text-xl leading-none h-14 font-bold rounded-r-full w-[61%] bg-[#FF0000] text-white px-5"><span>Youtube</span><span>2.7b</span></div>
                    <div class="flex justify-between items-center text-xl leading-none h-14 font-bold rounded-r-full w-[45%] bg-gradient-to-r from-[#933AB4] to-[#FCAF45] text-white px-4"><span>Instagram</span><span class="font-sans-serif">2b</span></div>
                    <div class="flex justify-between items-center text-xl leading-none h-14 font-bold rounded-r-full w-[22%] bg-[#EE1D52] text-white px-5"><span>TikTok</span><span>1b</span></div>
                    <div class="flex items-center font-bold  text-xl leading-none text-white">
                        <div class="flex justify-between items-center h-14 rounded-r-full w-[7%] bg-[#1E1E1E] px-5"><span>X</span></div><span class="ml-5">0.3b</span>
                    </div>
                    <div class="flex items-center font-bold  text-xl leading-none text-white">
                        <div class="flex justify-between items-center h-14 rounded-r-full w-[2px] bg-[#FF6719] px-0.5"></div><span class="ml-5">Substack</span><span class="ml-5">0.0b</span>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <div class="px-4 sm:px-6 mb-60">
        <blockquote class="max-w-4xl mx-auto my-0 text-center" cite="https://www.theverge.com/2023/4/20/23689570/activitypub-protocol-standard-social-network">
            <p class="text-white text-3xl md:text-6xl font-bold leading-none mb-8 md:mb-12 text-balance">“The fundamental shift, from platforms to protocols, appears to have momentum in a way it never has before.”</p>
            <footer class="font-medium text-1xl md:text-3xl text-teal-300"><a href="https://www.theverge.com/2023/4/20/23689570/activitypub-protocol-standard-social-network" target="_blank" rel="noopener noreferrer">David Pierce, <cite class="not-italic">The Verge -></cite></a></footer>
        </blockquote>
    </div>
</div>

{{!-- <div class="w-full bg-stone-950">
    <div class="flex flex-col items-center">
        <div class="h-[1px] w-[14%] bg-amber-50 mb-[32px] opacity-30"></div>
        <div class="h-[1.5px] w-[18%] bg-amber-50 mb-[31px] opacity-40"></div>
        <div class="h-[3px] w-[34%] bg-amber-50 mb-[30px] opacity-50"></div>
        <div class="h-[4px] w-[44%] bg-amber-50 mb-[29px] opacity-60"></div>
        <div class="h-[5px] w-[54%] bg-amber-50 mb-[28px] opacity-80"></div>
        <div class="h-[6px] w-[64%] bg-amber-50 mb-[27px]"></div>
        <div class="h-[7px] w-[74%] bg-amber-50 mb-[26px]"></div>
        <div class="h-[8px] w-[84%] bg-amber-50 mb-[25px]"></div>
        <div class="h-[9px] w-[94%] bg-amber-50 mb-[24px]"></div>
        <div class="h-[10px] w-full bg-amber-50 mb-[23px]"></div>
        <div class="h-[11px] w-full bg-amber-50 mb-[22px]"></div>
        <div class="h-[12px] w-full bg-amber-50 mb-[21px]"></div>
        <div class="h-[13px] w-full bg-amber-50 mb-[20px]"></div>
        <div class="h-[14px] w-full bg-amber-50 mb-[19px]"></div>
        <div class="h-[15px] w-full bg-amber-50 mb-[18px]"></div>
        <div class="h-[16px] w-full bg-amber-50 mb-[17px]"></div>
        <div class="h-[17px] w-full bg-amber-50 mb-[16px]"></div>
        <div class="h-[18px] w-full bg-amber-50 mb-[15px]"></div>
        <div class="h-[19px] w-full bg-amber-50 mb-[14px]"></div>
        <div class="h-[20px] w-full bg-amber-50 mb-[13px]"></div>
        <div class="h-[21px] w-full bg-amber-50 mb-[12px]"></div>
        <div class="h-[22px] w-full bg-amber-50 mb-[11px]"></div>
        <div class="h-[23px] w-full bg-amber-50 mb-[10px]"></div>
        <div class="h-[24px] w-full bg-amber-50 mb-[9px]"></div>
        <div class="h-[25px] w-full bg-amber-50 mb-[8px]"></div>
        <div class="h-[26px] w-full bg-amber-50 mb-[7px]"></div>
        <div class="h-[27px] w-full bg-amber-50 mb-[6px]"></div>
        <div class="h-[28px] w-full bg-amber-50 mb-[5px]"></div>
        <div class="h-[29px] w-full bg-amber-50 mb-[4px]"></div>
        <div class="h-[30px] w-full bg-amber-50 mb-[3px]"></div>
        <div class="h-[31px] w-full bg-amber-50 mb-[2px]"></div>
        <div class="h-[32px] w-full bg-amber-50 mb-px"></div>
    </div>
</div> --}}

<div class="w-full bg-stone-950">
    <div class="flex flex-col items-center">
        <div class="h-[1px] w-[14%] bg-amber-50 mb-[32px] opacity-30"></div>
        <div class="h-[1.5px] w-[18%] bg-amber-50 mb-[31px] opacity-40"></div>
        <div class="h-[3px] w-[34%] bg-amber-50 mb-[30px] opacity-50"></div>
        <div class="h-[4px] w-[44%] bg-amber-50 mb-[29px] opacity-60"></div>
        <div class="h-[5px] w-[54%] bg-amber-50 mb-[28px] opacity-80"></div>
        <div class="h-[6px] w-[64%] bg-amber-50 mb-[27px]"></div>
        <div class="h-[7px] w-[74%] bg-amber-50 mb-[26px]"></div>
        <div class="h-[8px] w-[84%] bg-amber-50 mb-[25px]"></div>
        <div class="h-[9px] w-[94%] bg-amber-50 mb-[24px]"></div>
        <div class="h-[10px] w-full bg-amber-50 mb-[23px]"></div>
        <div class="h-[11px] w-full bg-amber-50 mb-[22px]"></div>
        <div class="h-[12px] w-full bg-amber-50 mb-[21px]"></div>
        <div class="h-[13px] w-full bg-amber-50 mb-[20px]"></div>
        <div class="h-[14px] w-full bg-amber-50 mb-[19px]"></div>
        <div class="h-[15px] w-full bg-amber-50 mb-[18px]"></div>
        <div class="h-[16px] w-full bg-amber-50 mb-[17px]"></div>
        <div class="h-[17px] w-full bg-amber-50 mb-[16px]"></div>
        <div class="h-[18px] w-full bg-amber-50 mb-[15px]"></div>
        <div class="h-[19px] w-full bg-amber-50 mb-[14px]"></div>
        <div class="h-[20px] w-full bg-amber-50 mb-[13px]"></div>
        <div class="h-[21px] w-full bg-amber-50 mb-[12px]"></div>
        <div class="h-[22px] w-full bg-amber-50 mb-[11px]"></div>
        <div class="h-[23px] w-full bg-amber-50 mb-[10px]"></div>
        <div class="h-[24px] w-full bg-amber-50 mb-[9px]"></div>
        <div class="h-[25px] w-full bg-amber-50 mb-[8px]"></div>
        <div class="h-[26px] w-full bg-amber-50 mb-[7px]"></div>
        <div class="h-[27px] w-full bg-amber-50 mb-[6px]"></div>
        <div class="h-[28px] w-full bg-amber-50 mb-[5px]"></div>
        <div class="h-[29px] w-full bg-amber-50 mb-[4px]"></div>
        <div class="h-[30px] w-full bg-amber-50 mb-[3px]"></div>
    </div>
</div>

<div class="bg-amber-50 text-stone-950">
    <div class="mt-32 max-w-8xl mx-auto grid grid-cols-12 gap-[8vmin] px-4 sm:px-6">
        <div class="col-span-12 md:col-span-6 md:col-start-4 xl:col-span-4 xl:col-start-5">
            <h2 class="font-bold text-2xl md:text-3xl leading-tight mb-3">So, what are we going to do with all this <span class="text-rose-500 italic">momentum</span>?</h2>
            <div class="font-serif text-xl *:mb-6 *:text-pretty">
                <p>In 2024, Ghost is adopting ActivityPub and connecting with other federated platforms across the web.</p>
                <p>This means that, soon, Ghost publishers will be able to follow, like and interact with one another in the same way that you would normally do on a social network — but on your own website.</p>
                <p class="mb-0">The difference, of course, is that you’ll also be able to follow, like, and interact with users on Mastodon, Threads, Flipboard, Buttondown, Medium, Tumblr, WordPress, PeerTube, Pixelfed... or any other platform that has adopted ActivityPub, too. You don’t need to limit yourself to following people who happen to use the same platform as you.</p>
            </div>
        </div>
    </div>

    <div class="relative overflow-hidden py-16 md:py-24 px-4 sm:px-6">
        <div class="max-w-8xl mx-auto">
            <div class="grid gap-[8vmin] grid-cols-12 items-center">

                <div class="col-span-12 lg:col-span-4 order-2 lg:order-1">
                    <h2 class="font-bold text-2xl lg:text-3xl leading-tight mb-6 text-balance">Follow whoever you like, wherever they are.</h2>
                    <div class="font-serif text-xl leading-snug text-pretty *:mb-6">
                        <p>We’re building an ActivityPub feed directly into Ghost to allow you to follow people, publications and topics from around the web that interest and inspire you.</p>
                        <p>You can already subscribe to Ghost sites using email or RSS, but now you’ll be able to subscribe using ActivityPub and have fresh content from all your favorite places delivered to a single, unified place. The same place you already go when you want to publish yourself.</p>
                        <p class="mb-0">When you do publish, your posts will appear in other people’s feeds in Ghost... and in Mastodon, and everywhere else.</p>
                    </div>
                </div>

                <div class="col-span-12 lg:col-span-8 order-1 lg:order-2 lg:py-8">
                    <div class="lg:w-screen h-auto">
                        <div class="max-w-7xl overflow-hidden shadow-ok rounded-[6px]">
                            <img src="{{asset '/images/ghost-activity-pub-01.png'}}" alt="Ghost ActivityPub" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="relative overflow-hidden py-16 md:py-24 px-4 sm:px-6">
        <div class="max-w-8xl mx-auto">
            <div class="grid gap-[8vmin] grid-cols-12 items-center">

                <div class="col-span-12 lg:col-span-8 justify-self-end lg:py-8">
                    <div class="lg:w-screen h-auto flex justify-end">
                        <div class="max-w-7xl overflow-hidden shadow-ok rounded-[6px]">
                            <img src="{{asset '/images/ghost-activity-pub-02.png'}}" alt="Ghost ActivityPub" class="-mt-px" />
                        </div>
                    </div>
                </div>

                <div class="col-span-12 lg:col-span-4">
                    <h2 class="font-bold text-2xl lg:text-3xl leading-tight mb-6">Enjoy a simple, relaxed reading experience.</h2>
                    <div class="font-serif text-xl leading-snug text-pretty *:mb-6">
                        <p>Long-form content deserves a dedicated design so you can read in peace, much like the way email newsletters show up in your inbox.</p>
                        <p>The great thing about ActivityPub is that each platform can design its own experience around how to present content, whilst still remaining compatible with everything else.</p>
                        <p>We’ve spent the past 10 years designing a great writing experience with Ghost. Now, for the first time, we’re going to work on designing a great reading experience, too. Which is cool because it turns out that people who write a lot also tend to read a lot.</p>
                        <p class="mb-0">Who’d have thought?</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="max-w-8xl my-16 mx-auto px-4 sm:px-6">
        <div class="flex flex-col items-center mb-10 gap-8">
            <img src="{{asset '/images/email-fediverse.png'}}" alt="" class="grow-0 shrink-0 w-28 lg:w-36 h-auto" />
            <h2 class="font-bold text-2xl lg:text-4xl text-balance leading-tight text-center">A universal way for people to subscribe to your work.</h2>
        </div>
            
        <img src="{{asset '/images/ghost-activity-pub-03.png'}}" alt="Subscribing to 404Media using either ActivityPub or email address" class="shadow-ok rounded-[6px] mb-20" />
        <div class="columns-3 font-serif text-xl *:text-pretty *:mb-6 gap-[40px] leading-snug border-b pb-24 border-b-amber-50/30">
            <p>ActivityPub is a lot like email, and Ghost already supports email subscriptions. This means we can use the same interface to support both. Your audience enters whatever address they’re used to subscribing to things with, and Ghost figures out the rest.</p>
            <p>David Pierce of The Verge once said about ActivityPub usernames: “just make it look like email addresses, people!” — we agree.</p>
            <p>Why is this the 2nd time we’re quoting the editor of The Verge by name?</p>
            <p>Partially because he’s right about a lot of things to do with ActivityPub.</p>
            <p>Partially because, if you’ve read his feelings about AI Pins then you know it’s a generally a wise move to attempt to stay on his good side. (We’ll deal with Gruber later)</p>
            <p>The great thing about this is that ActivityPub subscribers and email subscribers are all just registered members.</p>
            <p>Regardless of the way people sign up, they can sign in, comment, like a post, or adjust the way they prefer to receive new posts from you. One benefit of ActivityPub over email is that it has a 100% deliverability rate. No more Outlook quarantine nonsense.</p>
        </div>
    </div>

    <div class="max-w-8xl py-24 mx-auto px-4 sm:px-6">
        <div class="grid grid-cols-12 gap-[8vmin]">
            <div class="col-span-12 md:col-span-8 md:col-start-0">
                <h2 class="font-bold text-[40px] leading-tight mb-10">So how’s all this going to work?</h2>
                <div class="font-serif text-3xl *:text-pretty *:mb-6 leading-snug mb-12">
                    <p>We’re not sure yet! Networks tend to work best when they’re shaped by the people who use them. So, rather than going away and working on this quietly behind closed doors, we’re announcing this as we build it out in the open.</p>
                    <p>What you’re looking at here is our first step: Sharing some initial ideas, and asking for your feedback. Subscribe below to follow along with the build diary, contribute your ideas, and get early access to test ActivityPub in Ghost.</p>
                </div>
                {{> "email-subscription"}}
            </div>
        </div>
    </div>

    <div class="max-w-8xl my-16 mx-auto px-4 sm:px-6">
        <div class="grid grid-cols-12 gap-[8vmin] border-t pt-32 border-t-stone-800/20">
            <blockquote class="flex flex-col col-span-4 text-xl leading-snug font-serif before:content-['_“'] relative before:absolute before:text-8xl before:font-serif before:top-[-50px] before:left-0">
                <p class="mb-8">Our dream for the fediverse is a world in which you don't have to make a screenshot to share something from one network into another network. The fediverse is all one big network. It's all connected.</p>
                <footer class="flex flex-col mt-auto before:content-[''] before:w-20 before:border-b before:border-b-stone-800/30 before:block before:mb-8">
                    <span>Evan Prodromou</span>
                    <span class="opacity-40">Co-Author of ActivityPub</span>
                </footer>
            </blockquote>
            <blockquote class="flex flex-col col-span-4 text-xl leading-snug font-serif before:content-['_“'] relative before:absolute before:text-8xl before:font-serif before:top-[-50px] before:left-0">
                <p class="mb-8">The whole point of ActivityPub as an open protocol is to turn Twitter/Instagram-like social networking into something more akin to email: truly open.</p>
                <footer class="flex flex-col mt-auto before:content-[''] before:w-20 before:border-b before:border-b-stone-800/30 before:block before:mb-8">
                    <span>John Gruber</span>
                    <span class="opacity-40">Daring Fireball</span>
                </footer>
            </blockquote>
            <blockquote class="flex flex-col col-span-4 text-xl leading-snug font-serif before:content-['_“'] relative before:absolute before:text-8xl before:font-serif before:top-[-50px] before:left-0">
                <p class="mb-8">The core idea that social networks could be more like email — in which different platforms flow into the same two-way feed for consumers, perhaps with all their rich formatting — is gathering momentum.</p>
                <footer class="flex flex-col mt-auto before:content-[''] before:w-20 before:border-b before:border-b-stone-800/30 before:block before:mb-8">
                    <span>Ben Smith</span>
                    <span class="opacity-40">Founder of Semafor</span>
                </footer>
            </blockquote>
        </div>
    </div>
</div>

<div class="w-full bg-stone-950">
    <div class="flex flex-col items-center">
        <div class="h-[30px] w-full bg-amber-50 mb-[3px]"></div>
        <div class="h-[29px] w-full bg-amber-50 mb-[4px]"></div>
        <div class="h-[28px] w-full bg-amber-50 mb-[5px]"></div>
        <div class="h-[27px] w-full bg-amber-50 mb-[6px]"></div>
        <div class="h-[26px] w-full bg-amber-50 mb-[7px]"></div>
        <div class="h-[25px] w-full bg-amber-50 mb-[8px]"></div>
        <div class="h-[24px] w-full bg-amber-50 mb-[9px]"></div>
        <div class="h-[23px] w-full bg-amber-50 mb-[10px]"></div>
        <div class="h-[22px] w-full bg-amber-50 mb-[11px]"></div>
        <div class="h-[21px] w-full bg-amber-50 mb-[12px]"></div>
        <div class="h-[20px] w-full bg-amber-50 mb-[13px]"></div>
        <div class="h-[19px] w-full bg-amber-50 mb-[14px]"></div>
        <div class="h-[18px] w-full bg-amber-50 mb-[15px]"></div>
        <div class="h-[17px] w-full bg-amber-50 mb-[16px]"></div>
        <div class="h-[16px] w-full bg-amber-50 mb-[17px]"></div>
        <div class="h-[15px] w-full bg-amber-50 mb-[18px]"></div>
        <div class="h-[14px] w-full bg-amber-50 mb-[19px]"></div>
        <div class="h-[13px] w-full bg-amber-50 mb-[20px]"></div>
        <div class="h-[12px] w-full bg-amber-50 mb-[21px]"></div>
        <div class="h-[11px] w-full bg-amber-50 mb-[22px]"></div>
        <div class="h-[10px] w-full bg-amber-50 mb-[23px]"></div>
        <div class="h-[9px] w-[94%] bg-amber-50 mb-[24px]"></div>
        <div class="h-[8px] w-[84%] bg-amber-50 mb-[25px]"></div>
        <div class="h-[7px] w-[74%] bg-amber-50 mb-[26px]"></div>
        <div class="h-[6px] w-[64%] bg-amber-50 mb-[27px]"></div>
        <div class="h-[5px] w-[54%] bg-amber-50 mb-[28px] opacity-80"></div>
        <div class="h-[4px] w-[44%] bg-amber-50 mb-[29px] opacity-60"></div>
        <div class="h-[3px] w-[34%] bg-amber-50 mb-[30px] opacity-50"></div>
        <div class="h-[1.5px] w-[18%] bg-amber-50 mb-[31px] opacity-40"></div>
        <div class="h-[1px] w-[14%] bg-amber-50 mb-[32px] opacity-30"></div>
    </div>
</div>

<div class="bg-stone-950 text-white pt-32 pb-24 px-4 sm:px-6">
    <div class="max-w-8xl my-0 mx-auto grid grid-cols-12">
        <h2 class="text-5xl md:text-8xl mb-20 font-bold text-center tracking-widest col-span-12 col-start-1 lg:col-span-6 lg:col-start-4">FAQ</h2>

        <div class="mb-24 col-span-12 col-start-1 lg:col-span-6 lg:col-start-4">
            <h3 class="font-bold text-3xl leading-tight mb-2">Isn’t ActivityPub a microblogging thing?</h3>
            <p class="font-serif text-xl mb-20">No! ActivityPub is a protocol, like email. You can use it for whatever you like. Mastodon and Threads are built around short-form content, Pixelfed is built around images, Peertube is built around video. Ghost is going to be flexible, but generally built around long-form content.</p>

            <h3 class="font-bold text-3xl leading-tight mb-2">Are you working together with other platforms on this?</h3>
            <p class="font-serif text-xl mb-20">Yes! Our friends at Buttondown are building ActivityPub support right now too, so we’re collaborating with them to make sure our products play nicely together. If any other companies want to work together, drop us an email on activitypub@ghost.org. If Google, Apple and Samsung can collaborate on Matter to make their products compatible with each other, there’s no reason publishing platforms can’t do the same.</p>

            <h3 class="font-bold text-3xl leading-tight mb-2">How big is the ActivityPub network?</h3>
            <p class="font-serif text-xl mb-20">Because it’s decentralised, we don’t have an exact total. Based on data we have about the largest ActivityPub platforms, particularly Meta/Threads, it’ll be between 170-200million users by the summer of 2024. Ghost will be adding tens-of-millions more to that total.</p>

            <h3 class="font-bold text-3xl leading-tight mb-2">This sounds great! How do I get it?</h3>
            <p class="font-serif text-xl mb-6">Sign up below for early access to ActivityPub support in Ghost! We’ll be sharing everything we’re working on in a dedicated email newsletter.</p>
            <p class="font-serif text-xl">If you’re currently using a different publishing platform and you’re curious about trying out Ghost and enjoying 0% payment fees, check out our guide here.</p>
        </div>

        <div class="col-span-12 col-start-1 lg:col-span-6 lg:col-start-4">
            {{> "email-subscription"}}
        </div>
    </div>

    <footer class="max-w-8xl mx-auto mt-32 lg:mt-60 text-xs flex justify-between px-4 sm:px-6 font-mono">
        <div class="flex flex-col gap-1">
            <span>Copyright © 2013–2024 Ghost Foundation Ltd</span>
            <span class="opacity-50">Decentralised. Non-profit. Open source.</span>
        </div>
        <div class="flex flex-col text-right gap-1">
            <span>이 웹사이트는 맛있는 쿠키를 사용합니다</span>
            <span class="opacity-50">AB42-00000004-VNEK</span>
        </div>
    </footer>
</div>